body {
    background-image: url('/Yoclinic/image3.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;

}

.nav-item {
    transition: transform 0.2s, background-color 0.2s;
}

.nav-item:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.2);
}